.toast {
    min-width: 20rem;
    position: fixed;
    right: 0;
    top: 6rem;
    /* transition: all linear 0.3s; */
    animation: slideInLeft linear 0.5s, fadeOut linear 1s 2s forwards;
    z-index: 100000;
    .btn-close {
        display: none !important;
    }

    .toast-body {
        padding: 1.4rem;
        font-size: 1.1rem;
    }
    .icon {
        font-size: 1.3rem;
        margin-right: 0.4rem;
    }
}
.success {
    color: green;
    background-color: #9ee49e;
}

.error {
    color: red;
    background-color: #f4a6a6; 
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}